

@media screen and (min-width: 0px)  {
 * {margin:0;
   padding:0;}

body {font-size: 15;}

/* row one*/

#main-title { margin-top: 15vh;
	font-size:3em;
	color:wheat;}

#row-one {
		  background-image: url(../img/jumbomini.jpg);
		  background-size: cover;
		  background-position: center;
		  height:100vh;}


li> a{
    position: fixed;

}

/* row two*/

#sub4 {margin-top:2vh;}

#sub4 h1 {font-size:3em;
		  color:wheat;}

#sub5 {margin-top:3vh;}

.artIm {background-image: url(../img/flower.jpg);
		height:50vh;
		background-size: cover;
		background-position: center;}

/* row three*/

#sub6 h1 {font-size: 3em;
		  color:wheat;}

#cbtn {height:24px;}

#sub7 {margin-top: 2vh;}

#sub8 {background-image:url(../img/worldMap.jpg);
	  background-size: cover;
	  background-position: center;
	  height:80vh;
	  margin-top:5vh;}



/* row four*/


#sub9 h1 {font-size:3em;
		  color:wheat;
		  margin-top: 3vh;}

.self {background-image: url(../img/article.jpg);
	  background-size: cover;
	  background-position: center;
	  height:25vh;
	  border:1px solid black;
	  border-radius:50%;}

}



@media screen and (min-width: 600px){
* {margin:0;
   padding:0;}

body {font-size: 15;}

/* row one*/

#main-title { margin-top: 7vh;
	font-size:7em;
	color:wheat;}

#row-one {background-image: url(../img/jumbotron.jpg);
		  background-size: cover;
		  background-position: center;
		  height:100vh;}







/* row two*/

#sub4 {margin-top:2vh;}

#sub4 h1 {font-size:5em;
		  color:wheat;
			margin-top: 5vh;}

#sub5 {margin-top:3vh;}

.artIm {background-image: url(../img/flower.jpg);
		height:30vh;
		background-size: cover;
		background-position: center;}

/* row three*/

#sub6 h1 {font-size: 5em;
		  margin-top:10vh;
		  color:wheat;
		}

#cbtn {height:24px;}

#sub7 {margin-top: 2vh;}

#sub8 {background-image:url(../img/worldMap.jpg);
	  background-size: cover;
	  background-position: center;
	  height:80vh;
	  margin-top:5vh;}



/* row four*/


#sub9 h1 {font-size:5em;
		  color:wheat;
		  margin-top: 7vh;
		  margin-bottom: 7vh;}

.self {background-image: url(../img/article.jpg);
	  background-size: cover;
	  background-position: center;
	  height:25vh;
	  border:1px solid black;
	  border-radius:50%;}

} /* large screen ending*/




/* Bogdan Navbar CSS*/
