

@media screen and (min-width: 0px)  {
 * {margin:0;
   padding:0;}

body {font-size: 15;}

/* row one*/

#main-title { margin-top: 15vh;
	font-size:3em;
	color:wheat;}

#row-one {
		  background-image: url(../img/jumbomini.jpg);
		  background-size: cover;
		  background-position: center;
		  height:100vh;}


li> a{
    position: fixed;

}

/* row two*/

#sub4 {margin-top:2vh;}

#sub4 h1 {font-size:3em;
		  color:wheat;}

#sub5 {margin-top:3vh;
	   padding: 25px;}

.article { box-sizing: border-box;
		   padding:0, 10,0,10; }

.artIm {border:2px solid black;}

/*.artIm {background-image: url(../img/flower.jpg);
		height:50vh;
		background-size: cover;
		background-position: center;}*/

/* row three*/

#sub6 h1 {font-size: 3em;
		  color:wheat;}

#cbtn {height:24px;}

#sub7 {margin-top: 2vh;}

.rgba {color:black;}

#image1 {background-image: url(../img/articleImg1.jpg);
		 height:50vh;
		 background-size: cover;
		 background-position: center;}
#miniTitle1{}
#artice1{}
#image2 {background-image: url(../img/articleImg2.jpg);
		 height:50vh;
		 background-size: cover;
		 background-position: center;}
#miniTitle2{}
#artice2{}
#image3 {background-image: url(../img/articleImg3.jpg);
		 height:50vh;
		 background-size: cover;
		 background-position: center;}
#miniTitle3{}
#artice3{}
#image4 {background-image: url(../img/articleImg4.jpg);
		 height:50vh;
		 background-size: cover;
		 background-position: center;}
#miniTitle4{}
#artice4{}
#image5 {background-image: url(../img/articleImg5.jpg);
		 height:50vh;
		 background-size: cover;
		 background-position: center;}
#miniTitle5{}
#artice5{}
#image6 {background-image: url(../img/articleImg6.jpg);
		 height:50vh;
		 background-size: cover;
		 background-position: center;}
#miniTitle6{}
#artice6{}
#image7 {background-image: url(../img/articleImg7.jpg);
		 height:50vh;
		 background-size: cover;
		 background-position: center;}
#miniTitle7{}
#artice7{}
#image8 {background-image: url(../img/articleImg8.jpg);
		 height:50vh;
		 background-size: cover;
		 background-position: center;}
#miniTitle8{}
#artice8{}



/* row four*/


#sub9 h1 {font-size:3em;
		  color:wheat;
		  margin-top: 3vh;}

.self {background-image: url(../img/article.jpg);
	  background-size: cover;
	  background-position: center;
	  height:25vh;
	  border:1px solid black;
	  border-radius:50%;}

.athDiv {margin-bottom: 10vh;}

#athName5 { max-height:7vh; }

#bio5 {margin-top:12vh;}

}

#countdown {
  text-align:center;
  padding-top: 24%;
}
@media (max-width: 480px) {
#countdown {
  max-width: 320px;
  text-align:center;
  padding-top: 24%;
  }
}

@media screen and (min-width: 600px){
	#row-one {background-image: url(../img/jumbomedi.jpg);
		  background-size: cover;
		  background-position: center;
		  height:100vh;}

#main-title { margin-top: 7vh;
	font-size:6em;
	color:wheat;}

}



@media screen and (min-width: 1000px){
* {margin:0;
   padding:0;}

body {font-size: 15;}

/* row one*/

#main-title { margin-top: 7vh;
	font-size:7em;
	color:wheat;}

#row-one {background-image: url(../img/jumbotron.jpg);
		  background-size: cover;
		  background-position: center;
		  height:100vh;}







/* row two*/

#sub4 {margin-top:2vh;}

#sub4 h1 {font-size:5em;
		  color:wheat;
			margin-top: 5vh;}

#sub5 {margin-top:3vh;}

.artIm {background-image: url(../img/flower.jpg);
		height:30vh;
		background-size: cover;
		background-position: center;}

/* row three*/

#sub6 h1 {font-size: 5em;
		  margin-top:10vh;
		  color:wheat;
		}

#countryArea {margin-top:0px;}

#cbtn {height:24px;}

#sub7 {margin-top: 2vh;}




/* row four*/


#sub9 h1 {font-size:5em;
		  color:wheat;
		  margin-top: 7vh;
		  margin-bottom: 7vh;}

.self {background-image: url(../img/article.jpg);
	  background-size: cover;
	  background-position: center;
	  height:25vh;
	  border:1px solid black;
	  border-radius:50%;}

.athDiv {margin-bottom: 10vh;}

} /* large screen ending*/




/* Bogdan Navbar CSS*/
